.app.default {
  --bg-color: #efefef;
  --inverted-bg-color: #333;

  --primary-color: #050505;
  --secondary-color: #006fff;

  --inverted-primary-color: #0f0;
  --inverted-secondary-color: #049804;

  --default-link-color: #f8581d;
}
